
*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color:#6CEFBA;
}

#loginhead{
    
    font-size: 10em;
    color:whitesmoke;
    font-family: cursive;
    font-weight: bold;
    font-style:normal;
    text-align:justify;
    margin-top: 15%;
    margin-left: 15%;
}

form{
    margin-top: 32%;
    padding: 20px;
    border: 2px solid black;
    margin-right: 20%;
    margin-left: 5%;
}

button{
    padding: 4px;
    background-color:blue;
    color: white;
    
}

.navbar{
border: 2px solid black ;
height: 10%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 1em;
}

.navbar-brand{
    margin-left: 8%;
}

#result{
    margin: 40px;
    padding: 5px;
}

#main{
    margin: 20px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}